<section class="content">
    <div class="box-header with-border">
        <div class="col-md-12">

            <div class="input-group input-group-sm">
                <input type="text" class="form-control  ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search" ng-model="keyword" ng-change="LoadData(page)" aria-invalid="false">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th data-toggle="tooltip" title="Tên hợp đồng"  style="width: 250px">Tên Nhân Viên</th>
                    <th data-toggle="tooltip" title="Tên dự án">Các dự án tham gia</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in ListNhanVien">
                    <td>{{ $index + 1}}</td>
                    <td>{{ item.FullName}}</td>
                    <td>
                         <span ng-repeat="itemDa in item.DuAn" ><a  ui-sref="duan.hangmuc({id:itemDa.ID})"> - {{itemDa.TenDuAn}}</a> <br /></span> 
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- /.table -->
        
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <p>
                <span>
                    Trang: {{page+1 }} - Tổng số bản ghi: {{totalCount}}
                </span>
            </p>
        </div>
        <div class="col-md-6">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="LoadData(page)"></pager-directive>
        </div>
    </div>
    <div class="sk-fading-circle" ng-if="loadding">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</section>

