<section class="content-header"></section>
<section class="content">
    <div class="box-header with-border">
        <h3 class="box-title"><strong>Hồ Sơ Nhân Viên</strong></h3>
        <button class="btn btn-default pull-right" ui-sref="home">Trở về</button>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="box-group" id="accordion">
            <div class="col-md-3" id="list-user" style="border-right:solid 1px; color: #dddfe2;">
                <div class="box">
                    <div class="box-header post">
                        <div class="input-group input-group-sm">
                            <input type="text" name="table_search" class="form-control" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body post" style="height:400px;overflow-y: scroll;">
                        <div class="user-block" ng-repeat="item in ListNhanVien">
                            <img class="img-circle img-bordered-sm" src="{{ item.Image }}">
                            <span class="username">
                                <a href="javascript:void(0)" ng-click="viewDetail(item.Id)">{{ item.FullName }}</a>
                            </span>
                            <span class="description">Chức vụ - {{item.Function}}</span>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm" ng-click="themThanhVien($event)"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button class="btn btn-default btn-sm" ui-sref="nhomnguoidung"><i class="fa fa-users"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-key"></i></button>
                        <button class="btn btn-default btn-sm">CSV</button>
                        <button class="btn btn-default btn-sm">PDf</button>
                        <button class="btn btn-default btn-sm">Excel</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box">
                    <div class="box-header post">
                        <div class="note-block">
                            <div class="col-md-12">
                                <strong><i class="fa fa-file-text-o margin-r-5"></i> Chọn thành viên để xem hồ sơ của thành viên đó</strong>
                            </div>
                        </div>
                    </div>
                    <div class="box-body" id="main-body-user">
                        <div ng-include="templateUrl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>