<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pr-Manager</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Assets/librarys/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/librarys/toastr/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Assets/admin/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/skins/_all-skins.css" rel="stylesheet" />
    <link href="~/Assets/librarys/angular-material/angular-material.css" rel="stylesheet" />

</head>
<body class="skin-blue skin-blue sidebar-menu" ng-app="QLdaConfig">
    <!-- Site wrapper -->
    <div class="wrapper">
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Assets/admin/img/user1-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-home" aria-hidden="true"></i> <span>Trang Chủ</span>
                        </a>
                    </li>
                    <li><a><i class="fa fa-fw fa-bell-o"></i> Thông Báo</a></li>
                    <li><a><i class="fa fa-pie-chart"></i> Thống Kê</a></li>
                    <li><a ui-sref="thanhvien"><i class="fa fa-fw fa-indent"></i>Quản Lý Nhân Viên</a></li>
                    <li><a ui-sref="hangmuc"><i class="fa fa-fw fa-indent"></i> Hạng Mục Dự án</a></li>
                    <li><a ui-sref="hopdong"><i class="fa fa-fw fa-indent"></i>Hợp Đồng </a></li>
                    <li><a ui-sref="duan"><i class="fa fa-fw fa-indent"></i>Danh sách dự án </a></li>
                    <li><a ui-sref="duan"><i class="fa fa-fw fa-wrench"></i>Cài đặt </a></li>
                    <li class="header">Thông Tin Tài khoản</li>
                    <li><a href="#"><i class="fa fa-fw fa-expeditedssl"></i> Đổi Mật Khẩu</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-sign-in"></i> Đăng xuất</a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <div ui-view></div>
        </div>
     
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2017 <a href="#">Nguyễn Đức Đại</a></strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <script src="~/Assets/librarys/jquery/dist/jquery.js"></script>
    <script src="~/Assets/librarys/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Assets/librarys/jquery.slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Assets/librarys/fastclick/lib/fastclick.js"></script>
    <script src="~/Assets/admin/js/app.min.js"></script>

    <!-- ./library angular -->
    <script src="~/Assets/librarys/angular/angular.js"></script>
    <script src="~/Assets/librarys/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Assets/librarys/toastr/toastr.js"></script>
    <script src="~/Assets/librarys/bootbox/bootbox.js"></script>
    <script src="~/Assets/librarys/ngBootbox/dist/ngBootbox.js"></script>
    <script src="~/Assets/librarys/angular-material/angular-material.js"></script>
    <script src="~/Assets/librarys/angular-messages/angular-messages.js"></script>
    <script src="~/Assets/librarys/angular-aria/angular-aria.js"></script>
    <script src="~/Assets/librarys/angular-animate/angular-animate.js"></script>

    <script src="~/app/share/module/QLdaCommon.js"></script>
    <script src="~/app/share/service/service.js"></script>
    <script src="~/app/share/service/notification.js"></script>
    <script src="~/app/share/filter/filter.js"></script>
    <script src="~/app/components/componentmodule.js"></script>

    <!-- ./angular app -->
    <script src="~/app/app.js"></script>
    <script src="~/app/components/home/HomeAdminController.js"></script>
    <script src="~/app/components/hangmuc/hangmuccontroller.js"></script>
    <script src="~/app/components/hopdong/danhSachHdController.js"></script>
    <script src="~/app/components/hopdong/ThemHdController.js"></script>
    <script src="~/app/components/duan/DuAnController.js"></script>
    <script src="~/app/components/duanhangmuc/duanhangmucController.js"></script>
    <script src="~/app/components/duanhangmuc/chitietduanController.js"></script>
</body>

</html>