<section class="content-header"></section>

<!-- Main content -->
<section class="content">
    <div class="box-header with-border">
        <h3 class="box-title"><strong>Quản Lý Hợp đồng</strong></h3>
        <button class="btn btn-default pull-right" ui-sref="duan">Đóng</button>
    </div>
    <div class="box-body">
        <div class="box-group" id="accordion">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header  with-border">
                        <h3 class="box-title">Tất cả các  hợp đồng</h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="tim kiem" ng-model="keyword" ng-change="DanhSachHd(page)">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                <i class="fa fa-square-o"></i>
                            </button>
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm" ng-click="showFrmAdd($event)" ><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                            </div>
                            <!-- /.btn-group -->
                            <button class="btn btn-default btn-sm" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
                            <div class="pull-right">
                                1-50/200
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.pull-right -->
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:10px">#</th>
                                        <th>số hợp đồng</th>
                                        <th>tên hợp đồng</th>
                                        <th>ngày tạo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in HopDong">
                                        <td><input  type="checkbox"/></td>
                                        <td><a ng-click="viewDetail(item.ID)">{{item.SoHopDong}}</a> </td>
                                        <td><a ng-click="viewDetail(item.ID)">{{item.TenHopDong}}</a> </td>
                                        <!--<i class="fa fa-globe"></i>-->
                                        <td> {{item.Created_at | date:'dd/MM/yyyy'}}</td>
                                    </tr>

                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6"><p><span>Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></p></div>
                            <div class="col-md-6">
                                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="DanhSachHd(page)"></pager-directive>
                            </div>
                        </div>
                       
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4" style="background:#FAFAFA ; min-height:600px">
                <h3>{{alert}}</h3>
                <div ng-include="templateUrl"></div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

