@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_RootLayout.cshtml";
}
<body class="skin-blue skin-blue sidebar-menu">
    <div class="wrapper">

        @{Html.RenderAction("Sidebar", "Home");}
        @RenderBody()
        @{Html.RenderAction("Footer", "Home");}
   </div>
 </body>

