@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_RootLayout.cshtml";
}
<!-- Page Content -->
<div class="container" id="acctount_home">
    <div class="row">
        @{ Html.RenderAction("Sidebar", "Home");}
        @RenderBody()
        @{ Html.RenderAction("Footer", "Home");}
    </div>
</div>