@{
    Layout = "~/Views/Shared/_RootLayout.cshtml";
}
<body id="body_layout">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="/">
                    <img src="~/Assets/site/images/logo_home.png" />
                </a>
            </div>
            <div class="col-md-11"  id="test_message_home">
                <h2 id="logo_site">
                    Phần Mềm Quản Lý Dự án
                </h2>

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                    {
                        @Html.AntiForgeryToken()
                        <button class="pull-right btn btn-info" id="btnLogout"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng Xuất</button>
                    }
                }

            </div>
        </div>
        <div class="row" id="acctount_home">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3">
                @{Html.RenderAction("Sidebar", "Home");}
            </div>

        </div>
        @*  @{Html.RenderAction("Footer", "Home");}*@
    </div>
</body>