<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Assets/librarys/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/librarys/toastr/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Assets/admin/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/skins/_all-skins.css" rel="stylesheet" />
    <link href="~/Assets/librarys/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/Assets/librarys/angular-loading-bar/src/loading-bar.css" rel="stylesheet" />
    <link href="~/Assets/site/custom.css" rel="stylesheet" />
</head>
  @RenderBody()
</html>
