<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
     <link href="~/Assets/librarys/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Assets/site/css/datepicker.css" rel="stylesheet" />
    <link href="~/Assets/site/custom.css" rel="stylesheet" />
    <link href="~/Assets/librarys/iCheck/skins/all.css" rel="stylesheet" />
    <link href="~/Assets/site/css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Assets/site/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/site/css/default.css" rel="stylesheet" />
    <link href="~/Assets/site/css/jqvmap.css" rel="stylesheet" />
    <link href="~/Assets/site/css/layout.css" rel="stylesheet" />
    <link href="~/Assets/site/css/pace-theme-flash.css" rel="stylesheet" />
    <link href="~/Assets/site/css/plugins.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()

    <script src="~/Assets/librarys/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/librarys/iCheck/icheck.min.js"></script>
    <script src="~/Assets/librarys/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="~/Assets/site/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/Assets/site/js/bootstrap-switch.min.js"></script>
    <script src="~/Assets/site/js/demo.js"></script>
    <script src="~/Assets/site/js/index.js"></script>
    <script src="~/Assets/site/js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="~/Assets/site/js/jquery.flot.min.js"></script>
    <script src="~/Assets/site/js/jquery.flot.resize.min.js"></script>
    <script src="~/Assets/site/js/jquery.slimscroll.min.js"></script>
    <script src="~/Assets/site/js/layout.js"></script>
    <script src="~/Assets/site/js/metronic.js"></script>
    <script src="~/Assets/site/js/pace.min.js"></script>
    <script src="~/Assets/site/js/quick-sidebar.js"></script>
    <script src="~/Assets/site/js/bootstrap-datepicker.js"></script>
    <script src="~/Assets/site.js"></script>
    <script>
        $('#datepicker-inline').datepicker('show');
    </script>
    <script>
            jQuery(document).ready(function () {
                Metronic.init(); // init metronic core componets
                Layout.init(); // init layout
                QuickSidebar.init(); // init quick sidebar
                Demo.init(); // init demo features
                Index.init();
            });

    </script>
</body>
</html>
