  <!-- Blog Sidebar Widgets Column -->
<div class="col-md-3">
    <!-- Blog Search Well -->
    <div class="well">
        <h4>Tìm kiếm</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Lựa chọn</h4>
        <ul class="list-unstyled">
            <li>
                <a href="#"> <i class="fa fa-caret-right" aria-hidden="true"></i> Thông Báo</a>
            </li>
            <li>
                <a href="/hang-muc-cong-viec.html"> <i class="fa fa-caret-right" aria-hidden="true"></i>  Hạng mục công việc</a>
            </li>

            <li>
                <a href="/Thong-ke.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Thống kê doanh thu</a>
            </li>

            <li>
                <a href="/thong-tin-ca-nhan.html"> <i class="fa fa-caret-right" aria-hidden="true"></i>Thông tin các nhân</a>
            </li>

        </ul>
    </div>

    <!-- Side Widget Well -->
    <div class="well">
        <h4>Lịch</h4>
        <div id="datepicker-inline"></div>
    </div>

</div>