<section class="content">
    <div class="box-header with-border">
        <div class="col-md-3">
            <div class="has-feedback">
                <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty" placeholder="tim kiem" ng-model="keyword" ng-change="loadThongBao(page)" aria-invalid="false">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <div class="col-md-9">
            <div class="pull-right">
                <button class="btn btn-default btn-sm btn-flat" ui-sref="themthongbao"><i class="fa fa-plus"></i> tạo thông báo</button>
                <button class="btn btn-default btn-sm btn-flat"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-default btn-sm btn-flat" ui-sref="home"><i class="fa fa-long-arrow-left"></i></button>
            </div>
           </div>
        </div>
            <div class="box-body no-padding">
                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Thông báo</th>
                            <th>Tệp đính kèm</th>
                            <th>ngày tạo</th>
                            <th>người tạo</th>
                            <th style="width: 10px"><i class="fa fa-trash-o"></i></th>
                            <th style="width: 10px"><i class="fa fa-pencil"></i></th>
                        </tr>
                        <tr ng-repeat="item in ThongBao">
                            <td>{{item.Id}}</td>
                            <td><a ng-click="viewDetail(item.Id)">{{item.TieuDe}}</a></td>
                            <td><span ng-repeat="file in item.MoreFile"><a href="{{file.path}}">{{file.name}}</a></br></span></td>
                            <td>{{item.Created_at | date :'dd/MM/yyyy'}}</td>
                            <td>{{item.NguoiTao}}</td>
                            <td>
                                <button class="btn btn-default btn-xs" ng-click="remove(item.Id)"><i class="fa fa-trash-o"></i></button>
                              
                            </td>
                            <td><button class="btn btn-default btn-xs" ui-sref="suathongbao({id:item.Id})"><i class="fa fa-pencil"></i></button></td>
                        </tr>

                    </tbody>
                </table>
                <div class="col-md-12">
                    <div class="col-md-6"><p><span>Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></p></div>
                    <div class="col-md-6">
                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="loadThongBao(page)"></pager-directive>
                    </div>
                </div>
            </div>

        </div>
</section>
