<section class="content-header"></section>
<section class="content">
    <div class="box-header with-border">
        <h3 class="box-title"><strong>Các Dự án công ty Aso</strong></h3>
        <button class="btn btn-default pull-right" ui-sref="duan">Trở về</button>
    </div>
    <div class="box-body">
        <div class="box-group" id="accordion">
            <div class="col-md-12">            
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Tất cả các dự án</h3>
                            <div class="box-tools pull-right">
                             
                            </div>
                                <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                    <i class="fa fa-square-o"></i>
                                </button>
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" ng-click="showAdd($event)"><i class="fa fa-plus"></i></button>
                                    <button  class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    <button class="btn btn-default btn-sm">CSV</button>
                                    <button class="btn btn-default btn-sm">Excel</button>
                                    <button class="btn btn-default btn-sm">Pdf</button>
                                    <button class="btn btn-default btn-sm">Print</button>
                                    <button  class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                                </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                <div class="pull-right">
                                    <div class="has-feedback">
                                        <input type="text" class="form-control input-sm" placeholder="tìm kiếm" ng-model="keyword" ng-change="LoadData(page)">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Tên Dự án</th>
                                            <th>Tên Hợp Đồng</th>
                                            <th>Ngày bắt đầu</th>
                                            <th>Trạng thái</th>
                                            <th style="width: 40px">tác vụ</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="item in ListDuAn">
                                            <td><input type="checkbox" id="ickeck"></td>
                                            <td><a ng-click="viewDetail(item.ID)">{{item.TenDuAn}}</a><br /></td>
                                            <td>{{item.HopDong.TenHopDong}}</td>
                                            <td>{{item.HopDong.NgayBatDau | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.TrangThai | ConverFilter : 'Hoàn thành' : 'Hoàn thành 2/9'}}</td>
                                            <td>
                                                <button class="btn btn-xs" ng-click="delete(item.ID)"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                                                <button class="btn  btn-xs" ng-click="edit(item.ID,ev)"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                                                <button class="btn btn-xs" ui-sref="chitietduan({id:item.ID})"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- /.table -->
                                <div class="col-md-12">
                                    <div class="col-md-6"><p><span>Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></p></div>
                                    <div class="col-md-6">
                                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="LoadData(page)"></pager-directive>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
            </div> <!--end env-->
        </div>
    </div>
</section>

