<section class="content-header"></section>
<section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Thêm Hạng mục công viêc cho dự án</strong></h3>
                <div>
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <small>chú ý : Thêm thành viên tham gia dự án trước khi khi chọn hạng mục công việc</small>
                    <button class="btn btn-default pull-right"  ui-sref ="duan">Đóng</button>
                </div>
                
                
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="box-group" id="accordion">
                    <div class="col-md-7">
                        <form novalidate name="frmHmDa" ng-submit="AddHangMucDuAn()">
                            <input type="hidden" name="select" ng-model="HmDa.IdDuAn"/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Input1">Loại Hạng mục *</label>
                                        <select name="select" class="form-control" ng-model="HmDa.LoaiHangMuc" ng-change="changeSelect()">
                                            <option value="">--chọn loại hạng mục--</option>
                                            <option value="0">Trực tiếp</option>
                                            <option value="1">gián tiếp</option>
                                        </select>
                                        <input type="hidden" name="select" ng-model="HmDa.LoaiHangMuc"/>
                                    </div>
                                    <div class="col-md-7">
                                        <label for="Input2">hạng mục công việc</label>
                                        <span class="pull-right text-light-blue" ng-if="loading"><i class="fa fa-refresh fa-spin"></i>loading...</span>
                                        <select name="IdHangMuc" class="form-control" ng-model="HmDa.IdHangMuc" ng-options="option.ID as option.TenHangMuc for option in loadHangMuc">
                                            <option value="">---chọn công việc---</option>
                                        </select>
                                        <input type="hidden" name="select" ng-model="HmDa.IdHangMuc" />
                                    </div>
                                    <div class="col-md-1">
                                        <label for="Input1"></label>
                                        <button type="button" class="btn btn-info">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-9">
                                        <label for="Input2">Nhóm công việc</label>
                                        <select name="IdNhomCongViec" class="form-control" ng-model="HmDa.IdNhomCongViec" ng-options="option.ID as option.NhomCV for option in NhomCvs" ng-change="changNhomCongViec(HmDa.IdNhomCongViec)">
                                            <option value="">--chọn nhóm công việc--</option>
                                        </select>
                                        <input type="hidden" class="form-control" ng-model="HmDa.IdNhomCongViec"> 
                                    </div>
                                    <div class="col-md-3">
                                        <label for="Input3">Mức độ truyền thông</label>
                                        <select class="form-control" style="width: 100%;" ng-model="HmDa.MucDoTruyenThong" ng-options="option.value as option.key for option in  MucDoTruyenThong.data" ng-change="changeMucDoTruyenThong(HmDa.MucDoTruyenThong)">
                                            <option value="">_chọn mức độ truyền thống_</option>
                                        </select>
                                        <input type="hidden" ng-model="HmDa.MucDoTruyenThong">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Input4">Ngày Thực Hiện</label>
                                        <input type="date" class="form-control" id="Input4" ng-model="HmDa.NgayBatDau" name="NgayBatDau">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Input5">Ngày yêu cầu hoàn thành</label>
                                        <input type="date" class="form-control" id="Input5" ng-model="HmDa.NgayDuKienKetThuc">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Input6">Người thực hiện theo lệnh sản xuất</label>
                                <select class="form-control" ng-model="HmDa.IdNguoiThucHienTheoLenhSX" ng-options="option.Id as option.Email for option in ThanhVien " >
                                    <option value="">__chọn người đại diện__</option>
                                </select>
                                <input type="hidden" ng-model="HmDa.IdNguoiThucHienTheoLenhSX"/>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Input12">Số người thực hiện</label>
                                        <input type="text" class="form-control" name="SoNguoiThucHien"  ng-model="HmDa.SoNguoiThucHien" disabled>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="Input14">số ngày dự kiến hoàn thành</label>
                                        <select class="form-control" name = "ThoiGianThucHienDuKien" ng-model="HmDa.ThoiGianThucHienDuKien" ng-options="option.value as option.key for option in NgayDkHoanThanh.data" ng-change="changeSelectDkht(HmDa.ThoiGianThucHienDuKien)">
                                            <option value="">_chon thời gian thực hiện dự kiên _</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="Input15">Điểm đánh giá</label>
                                        <input type="number" class="form-control" id="Input15" ng-model="HmDa.DiemDanhGia" ng-change="HmDa.DiemHangMuc =(HmDa.DiemDanhGia*HmDa.HeSoCongViec*HmDa.HeSoNhanCong*HmDa.HeSoThoiGian*HmDa.HeSoLapLai)">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Input13">Hệ số Nhân công Kcv<br> (dựa vào số người)</label>
                                        <input type="text" class="form-control" id="Input13" disabled ng-model="HmDa.HeSoNhanCong">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Input10">Hệ số lặp lại <br> <small>dựa vào số lần ứng dụng - số năm hợp tác (MDTT)</small></label>
                                        <input type="number" class="form-control" id="Input10" disabled ng-model="HmDa.HeSoLapLai">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Input11">Hệ số công viêc Kcv <br>(dựa vào nhóm công việc)</label>
                                        <input type="text" class="form-control" id="Input11" disabled ng-model="HmDa.HeSoCongViec">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="Input14">Hệ số thời gian <br>(dv số ngày dkht)</label>
                                        <input type="number" class="form-control" id="Input14" disabled ng-model="HmDa.HeSoThoiGian">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="Input16">Điểm hạng mục<br><small>điểm DG*hscv*hsnc*hstg*shll</small></label>
                                        <input type="number" class="form-control" id="Input16" disabled ng-model="HmDa.DiemHangMuc">
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Thêm</button>
                                <button class="btn btn-default" ui-sref ="duan"><i class="fa fa-fw fa-mail-reply"></i>Trở về</button>
                            </div>
                        </form>
                    </div><!--end/right-->
                    <div class="col-md-5">
                        <form name="frmThanhvien" novalidate  ng-submit="addThanhVien()">
                            <fieldset class="set-boder">
                                <legend>Thêm nhân viên tham gia</legend>
                                <div class="form-group">
                                    <label for="Input7">Nhân viên tham gia</label>
                                    <select class="form-control" style="width: 100%;" ng-model="User" ng-options="option.Email for option in ThanhVien track by option.Id">
                                        <option value="">_chọn thành viên tham gia_</option>
                                    </select>
                                    <input type="hidden" ng-model="User">
                                </div>
                                <div class="form-group">
                                    <label for="Input8">Tỉ Lệ Tham gia (%)</label>
                                    <input type="number" class="form-control" id="Input8" ng-model="User.TiLe">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default"> <i class="fa fa-save"></i> Thêm</button>
                                </div>
                            </fieldset>
                        </form>

                        <div>
                            <fieldset class="set-boder">
                                <legend>D/s thành viên</legend>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Thành viên</th>
                                            <th style="width: 40px">Tỷ lệ tham gia</th>
                                            <th>X</th>
                                        </tr>
                                        <tr ng-repeat="item in DisplayUser">
                                            <td>{{$index + 1 }}</td>
                                            <td>{{item.Email}}</td>
                                            <td><span class="badge bg-red">{{item.TiLe}}</span></td>
                                            <td><span class="badge bg-red" ng-click="removeUser(item.Id)">X</span></td>
                                             
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
</section>