<div class="wrapper">
    <header class="main-header">
        <nav class="navbar">
            <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="javascript:void(0)" class="logo">
                <span class="logo-mini"><b>A</b>so</span>
                <span class="logo-lg"><b>Aso</b> <small>Company </small></span>
            </a>
            <div class="navbar-custom-menu">
                    <form class="navbar-form navbar-left">
                        <div class="form-group-sm" id="search_nav">
                            <select ng-model="cbxSelected.ID" ng-options="option.ID as option.TenDuAn for option in cbxListDa" ng-change="changeSelected()" class="form-control"></select>
                        </div>
                    </form>
                
                <ul class="nav navbar-nav" style="float:right">
                    <li><button class="btn btn-sm  btn-flat"><i class="fa fa-home"></i> Trang chủ</button></li>
                    <li><button class="btn btn-sm  btn-flat" ng-click="exportExcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</button></li>
                    <li><button class="btn btn-sm  btn-flat" ng-click="exportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Pdf</button></li>
                    <li><button class="btn btn-sm  btn-flat"><i class="fa fa fa-repeat" aria-hidden="true"></i> </button></li>
                    <li><button class="btn btn-sm  btn-flat" ng-click="fullScreen()"><i class="fa fa-arrows-alt" aria-hidden="true"></i> </button></li>
                    <li><button class="btn btn-sm  btn-flat" ng-click="Logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</button></li>
                    <li><button class="btn btn-sm btn-flat" ng-click="totalPoint()"><i class="fa fa-clone" aria-hidden="true"></i> </button></li> 
                    <li>
                        <a href="javascript:void(0)" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar" style="height:100%">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../Assets/admin/img/user1-128x128.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Xin chào {{InfoUserData.username}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header">Danh mục chính 
                 <span class="pull-right sidebar-toggle" data-toggle="offcanvas" role="button"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Đóng</span></li>
                <li><a href="javascript:void(0)"><i class="fa fa-home"></i> Trang Chủ</a></li>
                <li><a ui-sref="duan"><i class="fa fa-fw fa-indent"></i> Danh sách dự án </a></li>
                <li><a ui-sref="duan.hangmuc"> <i class="fa fa-wikipedia-w"></i> Hạng Mục Công Việc</a></li>
                <li><a ui-sref="thanhvien"><i class="fa fa-fw fa-indent"></i> Nhân Viên</a></li>
                <li><a ui-sref="nhanvienduan"><i class="fa fa-fw fa-indent"></i> Nhân Viên và Dự án</a></li>
                <li><a ui-sref="khachhang"><i class="fa fa-user-plus"></i> Khách Hàng </a></li>
                <li><a ui-sref="heso"><i class="fa fa-fw fa-wrench"></i> Các hệ số</a></li>
                <li><a ui-sref="thongbao"><i class="fa fa-fw fa-bell-o"></i> Thông Báo</a></li>
                <li><a ui-sref="thongke"><i class="fa fa-pie-chart"></i> Thống Kê</a></li>
                <li class="header">Thông Tin Tài khoản</li>
                <li><a ui-sref="changepw"><i class="fa fa-fw fa-expeditedssl"></i> Đổi Mật Khẩu</a></li>
                <li ng-click="Logout()"><a href=""><i class="fa fa-fw fa-sign-in"></i> Đăng xuất</a></li>
            </ul>           
    </section>
        <div class="force-overflow"></div>
    </aside>
    <div class="content-wrapper">
        <div ui-view></div>
    </div>
    <div class="control-sidebar-bg"></div>
</div>
