<section class="content-header"></section>
<section class="content">
    <div class="box-header with-border">
        <h3 class="box-title"><strong>khách hàng</strong></h3>
        <button class="btn btn-default pull-right" ui-sref="home">trở về</button>
    </div>
    <div class="box-body">
        <div class="box-group" id="accordion">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header  with-border">
                        <h3 class="box-title">Tất cả các khách hàng</h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="tim kiem">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                <i class="fa fa-square-o"></i>
                            </button>
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm" ng-click="showFrmAddKh($event)"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-default btn-sm">Csv</button>
                                <button class="btn btn-default btn-sm">PDf</button>
                                <button class="btn btn-default btn-sm">Excel</button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            </div>
                            <!-- /.btn-group -->
                            <div class="pull-right">
                                1-50/{{KhachHang.length}}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.pull-right -->
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <div class="box-body">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th style="width: 10px"><input type="checkbox"></th>
                                            <th>Tên khách hàng</th>
                                            <th>số điện thoại - Fax</th>
                                            <th>địa chỉ mail</th>
                                            <th>địa chỉ</th>
                                            <th>giới tính</th>
                                            <th style="width: 40px">hành động</th>
                                        </tr>
                                        <tr ng-repeat="kh in KhachHang">
                                            <td><input type="checkbox"/> </td>
                                            <td>{{kh.TenKhach}}</td>
                                            <td>{{kh.SoDienThoai}} <br> số Fax : {{kh.SoFax}}</td>
                                            <td><span class="badge bg-light-blue">{{kh.Email}}</span></td>
                                            <td>{{kh.DiaChi}}</td>
                                            <td>{{kh.GioiTinh |ConverFilter :'Nam':'Nữ'}}</td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-xs" ng-click="showFromEdit($event , kh.ID)">Sửa</button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="xoaKhachHang(kh.ID)">xóa</button>
                                            </td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table -->
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
    </div>
</section>
<!-- /.content -->
