<md-dialog>
    <form role="form" novalidate name="frmThemKh" ng-submit="themKhachHang()" method="post">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Thêm Mới Khách Hàng</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Tên khách Hàng</label>
                        <input type="text" class="form-control" ng-model="AddKhachHang.TenKhach" name="khachhang" required>
                        <span ng-show="frmThemKh.khachhang.$invalid" class="has-error">nhập tên khách hàng</span>

                    </div>
                    <div class="form-group">
                        <label>Địa chỉ mail</label>
                        <input type="text" class="form-control" ng-model="AddKhachHang.Email" name="mail" required>
                        <span ng-show="frmThemKh.mail.$invalid" class="has-error">nhập địa chỉ mail</span>
                    </div>
                    <div class="form-group">
                        <label>Số diện thoại</label>
                        <input type="text" class="form-control" ng-model="AddKhachHang.SoDienThoai" name="sdt" required>
                        <span ng-show="frmThemKh.sdt.$invalid" class="has-error">nhập số điện thoại</span>
                    </div>
                    <div class="form-group">
                        <label>Số Fax</label>
                        <input type="text" class="form-control" ng-model="AddKhachHang.SoFax" name="fax" required>
                        <span ng-show="frmThemKh.fax.$invalid" class="has-error">nhập số fax</span>
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <textarea type="text" class="form-control" ng-model="AddKhachHang.DiaChi" name="diachi"></textarea>
                        <span ng-show="frmThemKh.diachi.$invalid" class="has-error">nhập địa chỉ</span>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="radio" ng-model="AddKhachHang.GioiTinh" ng-value="true"> Nam <br>
                            <input type="radio" ng-model="AddKhachHang.GioiTinh" ng-value="false"> Nữ
                        </label>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <button type="submit" class="btn btn-info btn-flat" ng-disabled="frmThemKh.$invalid">Tạo khách hàng</button>
            <span flex></span>
            <button type="reset" class="btn btn-default btn-flat ">xóa sạch</button>
        </md-dialog-actions>
    </form>
</md-dialog>
