<form role="form" novalidate name="frmThemKh" ng-submit="themKhachHang()">
    <div class="box-body">
        <div class="form-group">
            <label for="TenKhach">Tên khách Hàng</label>
            <input type="text" class="form-control"  placeholder="nhập tên khách hàng" ng-model="KhachHang.TenKhach">
        </div>
        <div class="form-group">
            <label for="TenKhach">Địa chỉ mail</label>
            <input type="text" class="form-control" placeholder="nhập địa chỉ mail" ng-model="KhachHang.Email">
        </div>
        <div class="form-group">
            <label for="sodienthoai">Số diện thoại</label>
            <input type="text" class="form-control"  placeholder="nhập số điện thoại"  ng-model="KhachHang.SoDienThoai">
        </div>
        <div class="form-group">
            <label for="soFax">Số Fax</label>
            <input type="text" class="form-control" placeholder="nhập số fax" ng-model="KhachHang.SoFax"> 
        </div>
        <div class="checkbox">
            <label>
                <input type="radio" ng-model="KhachHang.GioiTinh" ng-value="true"> Nam <br>
                <input type="radio" ng-model="KhachHang.GioiTinh" ng-value="false"> Nữ
            </label>
        </div>

        <div class="form-group">
            <label for="diaChi">Địa chỉ</label>
            <textarea type="text" class="form-control" ng-model="KhachHang.DiaChi"></textarea>
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Thêm khách hàng</button>
        <button class="btn btn-danger" ng-click="cancel()">trở về</button>
    </div>
</form>
